* {
    font-size: 40px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid #000; */
}

html {
    width: 100vw;
    height: 100%;
}

#main {
    height: 100%;
    display: flex;
    margin-top: 200px;
    /* align-items: center; */
    justify-content: center;
}

.button {
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    border: 5px solid black;
    cursor: pointer;
}

#mid-top {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mid-top > p {
    font-size: 1.5rem;
}

.buttons {
    width: 500px;
    padding: 20px 0 40px 0;
    /* margin: 20px; */
    display: flex;
    justify-content: space-around;
}

#mid-bottom {
    display: flex;
    justify-content: center;
}

#counter > p {
    /* padding-top: 30px; */
    font-size: 3rem;
}

