* {
    font-size: 30px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid #000; */
}

html {
    width: 100vw;
    height: 100%;
}

#main {
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

/* #middle { */
    /* width: 80%; */
/* } */

.button {
    /* width: 300px; */
    padding: 20px;
    margin: 0 10px;
    border-radius: 50px;
    border: 5px solid black;
    cursor: pointer;
}

#mid-top {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mid-top > p {
    font-size: 1.5rem;
}

.buttons {
    /* width: 80%; */
    padding: 20px 0 40px 0;
    /* margin: 20px; */
    display: flex;
    justify-content: space-around;
}

#mid-bottom {
    display: flex;
    justify-content: center;
}

#counter {
    /* padding-top: 30px; */
    font-size: 3rem;
}

#storage {
    width: 50%;
    margin: auto 150px;
}

li {
    list-style-type: none;
}